/* Current awesome css */
BODY
{
	margin: 0px;
	padding: 0px;
	font: 11px verdana, arial, helvetica, sans-serif;
	color: #333;
	background-color: white;
}
H1
{
	margin: 0px;
	padding: 0px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 900;
	color: #CCC;
}
H1.title
{
	margin-left: 30%;
	color: #07A;
}
H2
{
	font: bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin: 0px 0px 5px;
	padding: 0px;
}
H2.title
{
	font: bold 14px/16px verdana, arial, helvetica, sans-serif;
	margin-left: 250px;
}
H3
{
	font: bold 11px/13px verdana, arial, helvetica, sans-serif;
	margin: 0px 0px 5px;
	padding: 0px;
}
P
{
	font: 11px/20px verdana, arial, helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
TABLE
{
	border: 0;
	font: 11px verdana, arial, helvetica, sans-serif;
	width: 650;
}
/*for tables with borders around everything*/
TABLE.rideDetailsSearch
{
	border: 1px solid #666666;
	border-collapse: collapse;
}
TABLE.rideDetailsSearch TD
{
	border: 1px solid #666666;
}
TABLE.rideDetailsSearch TH
{
	border: 1px solid #666666;
}
/*the login forms must fit on the side of the page*/
TABLE.login
{
	width: 260;	
}
A
{
	color: #09C;
	font-size: 11px;
	text-decoration: none;
	font-weight: 600;
	font-family: verdana, arial, helvetica, sans-serif;
}
A:link
{
	color: #09C;
}
A:visited
{
	color: #07A;
}
A:hover
{
	background-color: #EEE;
}
/*only used for error messages*/
SPAN 
{
	color: red;
}
/*top of the page*/
#Header
{
	margin: 20px 0px 10px;
	padding: 17px 0px 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0px;
	line-height: 11px;
	background-color: #EEE;
}
BODY #Header
{
	height: auto;
}
/* main content of the page*/
#Content
{
	padding: 10px;
	margin-left: 320px;
}
/*menu on the left of each page*/
#Menu
{
/*position: absolute;*/
	padding: 10px;
	background-color: #EEE;
	border: 1px dashed #999;
	line-height: 17px;
	width: 262px;
	text-align: left;
	float: left;
	margin: -40px 20px 20px;
	position: absolute;
	top: 150px;
}
#Menu P
{
	padding: 0px;
}
/*used to seperate relevant info on a page*/
#Box
{
	border: 1px solid #999;
	padding: 10px;
	width: 650px;
}
/*dont nest beyond depth two*/
#Box #Box
{
	width: 630px;	
}
/*BlueRobot used here - http://www.bluerobot.com/web/layouts/*/
